{% extends "base.html" %}



{% block back %}
<li><a href="{{ url_for("home") }}"><img src="/static/img/layer-5.png" style="width:40px; height:40px;"></a></li>
{% endblock %}

{% block headertitel %}
<h1> Add a book </h1>
{% endblock %}




{% block body %}
    <div class="formulier">

        <form action="http://169.254.10.11:3000/allbooks" method="POST">

        <label for="inputTitel">Titel:</label>
        <input type="text" name="inputTitel" id="inputTitel" class="form-control" placeholder="Titel" required autofocus>

        <label for="inputAuteur">Auteur:</label>
        <input type="text" name="inputAuteur" id="inputauteur" class="form-control" placeholder="Auteur" required autofocus>

        <label for="inputISBN">ISBN:</label>
        <input type="text" name="inputISBN" id="inputISBN" class="form-control" placeholder="ISBN" required autofocus>

        <label for="inputCategorie">Categorie:</label>
        <input type="text" name="inputCategorie" id="inputCategorie" class="form-control" placeholder="Categorie" required autofocus>

        <label for="inputAantalblz">AantalBlz:</label>
        <input type="text" name="inputAantalblz" id="inputAantalblz" class="form-control" placeholder="AantalBlz" required autofocus style="background-color: white">
        <br>
        <button id="submit" class="btn btn-primary btn-md" value="submit">Voeg toe!</button>

 </form>
</div>

{% endblock %}