<!doctype html>

<html lang="en">

<head>

	<meta charset="utf-8">

	<title>Voorbeeld Project 1</title>

	<meta name="description" content="Voorbeeld pagina">

	<meta name="author" content="Voorbeeld">

	<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">

</head>
<link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
<body>

	<header>

<img src="/static/img/logoproject.png" style="width:70px; height:70px;">

		<nav>


			<ul>
				<li><li><a href="addbook.html"><img src="/static/img/layer-4.png" style="width:35px; height:35px;"></a></li></li>
                <li><li><a href="index.html"><img src="/static/img/layer-5.png"  style="width:35px; height:35px;"></a></li></li>


			</ul>

		</nav>

	</header>

	<section>
    <h1>Add a book</h1>





	</section>


	<footer class="footer-distributed">
			<div class="footer-left">
				<p>Gauthier Tijtgat &copy; 2017</p>
			</div>

	</footer>

</body>

</html>