{% extends "base.html" %}

{% block title %}
    SmartBooked || Allbooks
{% endblock %}

{% block back %}
<li><a href="{{ url_for("home") }}"><img src="/static/img/layer-5.png" style="width:40px; height:40px;"></a></li>
{% endblock %}

{% block headertitel %}
<h1> All Books </h1>
{% endblock %}


{% block body %}
<table>

<tr>
    <th>Titel</th>
    <th>ISBN</th>
    <th>AantalBlz</th>
    <th>Auteur</th>
    <th>Categorie</th>
</tr>
{% for d in data %}
    <tr>
        <td>{{d[0]}}</td>
        <td>{{d[1]}}</td>
        <td>{{d[2]}}</td>
        <td>{{d[3]}}</td>
        <td>{{d[4]}}</td>
    </tr>

{% endfor %}
</table>




</table>

{% endblock %}
