<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
</head>


<div ID="wrapper">

    <header>
<img src="/static/img/logoproject.png" style="width:85px; height:85px;">
<nav >
    <ul>
        {% block addbooks %}{% endblock %}
        {% block back %} {% endblock %}

    </ul>
</nav>
</header>

<body>

{% block headertitel %}{% endblock %}
{% block  body %}

{% endblock %}


<div class="test">
    Gauthier Tijtgat || 1NMCT2
</div>

</body>
</div>
</html>