<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
</head>


<div ID="wrapper">

    <header>
<img src="/static/img/logoproject.png" style="width:85px; height:85px;">
<nav >
    <ul>
        <li><a {% block addbooks %}{% endblock %} href="{{ url_for("home") }}"><img src="/static/img/layer-4.png" style="width:40px; height:40px;"></a></li>
        {% block back %} {% endblock %}

    </ul>
</nav>
</header>

<body>


{% block  body %}


{% endblock %}


<div class="test">
    Gauthier Tijtgat || 1NMCT2
</div>

</body>
</div>
</html>