<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
</head>
<link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">



<div ID="wrapper">
    <header>
    <div class="lol">

    </div>
<img src="/static/img/logoproject.png" style="width:70px; height:70px;">
<nav >
    <ul>
        <li><a {% block addbooks %}{% endblock %} href="{{ url_for("home") }}"><img src="/static/img/layer-4.png" style="width:40px; height:40px;"></a></li>
        {% block back %} {% endblock %}

    </ul>
</nav>
</header>

<body>


{% block  body %}


{% endblock %}


<div class="test">
    aaaaa
</div>

</body>
</div>
</html>