<!doctype html>

<html lang="en">

<head>

	<meta charset="utf-8">

	<title>Voorbeeld Project 1</title>

	<meta name="description" content="Voorbeeld pagina">

	<meta name="author" content="Voorbeeld">

	<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">

</head>
<link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
<body>

	<header>

		<a href="#" id="logo"></a>

		<nav>


			<ul>
				<li><li><a href="#"><img src="image2.jpg"></a></li></li>
                <li><li><a href="#"><img src="image2.jpg"></a></li></li>


			</ul>

		</nav>

	</header>

	<section>
    <h1>SmartBooked</h1>
		<img src="/static/img/traplife.jpg" alt="header images" />





		<h1>Buttons</h1>

		<a href="#" class="btn red">Red</a>
		<a href="#fakeLink" class="btn orange">Orange</a>
		<a href="#fakeLink" class="btn blue circular">Blue</a>
		<a href="#fakeLink" class="btn teal circular">Teal</a>


	</section>

	<footer class="footer-distributed">
			<div class="footer-left">
				<p>Gauthier Tijtgat &copy; 2017</p>
			</div>

	</footer>

</body>

</html>